<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.db.mapper.EmployeeMapper">

    <select id="queryEmployeeList" resultType="com.ledger.db.entity.Employee">
        select id, name, mode_id, version, created_date, flag, remark
        from employee
        where flag = #{flag}
          and (#{name} is null or #{name} = '' or name = #{name})
        order by id desc
    </select>

</mapper>
