<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.db.mapper.FactoryBillMapper">

    <!-- 查询工厂账单集合 -->
    <select id="queryFactoryBillList" resultType="factoryBillDto">

        select fb.id,
               fb.factory_id,
               ft.factory_name,
               fb.number,
               fb.style_number,
               fb.category,
               fb.quantity,
               fb.bill
        from factory_bill fb
                 left join factory ft on fb.factory_id = ft.id
        where fb.flag = #{flag}

    </select>


</mapper>
