<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.db.mapper.FactoryBillMapper">

    <!-- 查询工厂账单集合 -->
    <select id="selectFactoryBillList" resultType="factoryBillDto">

        select
        fb.id,
        fb.factory_id,      <!-- 成衣厂ID -->
        ft.factory_name,    <!-- 成衣厂名称 -->
        fb.number,          <!-- 床号 -->
        fb.style_number,    <!-- 款式编号 -->
        fb.category_id,     <!-- 工作类型ID -->
        fjc.category,        <!-- 工作类型名称 -->
        fb.quantity,        <!-- 数量 -->
        fb.bill,             <!-- 账单 -->
        fb.created_date,
        fb.flag
        from factory_bill fb
        left join factory ft on fb.factory_id = ft.id
        left join factory_job_category fjc on fb.category_id = fjc.id
        <where>
            fb.flag = #{flag}

            <!-- 如果传入工厂ID则按工厂ID查询 -->
            <if test="factoryId != null and factoryId != '' ">
                and fb.factory_id = #{factoryId}
            </if>
            <!-- 如果传入床号则按床号查询 -->
            <if test="number != null and number != '' ">
                and fb.number like CONCAT('%', #{number}, '%')
            </if>
            <!-- 如果传入款式编号则按款式编号查询 -->
            <if test="styleNumber != null and styleNumber != '' ">
                and fb.style_number like CONCAT('%', #{styleNumber}, '%')
            </if>
            <!-- 如果传入工作类型ID则按工作类型ID查询 -->
            <if test="categoryId != null and categoryId != '' ">
                and fb.category_id = #{categoryId}
            </if>
            <choose>
                <!-- 如果指定了起止日期 则按起止日期查找-->
                <when test="startDate != null and startDate != '' and endDate != null and endDate != '' ">
                    and fb.created_date between #{startDate} and #{endDate}
                </when>
                <!-- 如果指定了开始日期 则按开始日期查找成衣厂账单信息-->
                <when test=" startDate != null and startDate != '' and (endDate == null or endDate == '') ">
                    and fb.created_date = #{startDate}
                </when>
                <!-- 如果只选了结束日期则默认查询小于等于结束日期的成衣厂账单信息 -->
                <when test="endDate != null and endDate != '' and (startDate == null or startDate == '') ">
                    and fb.created_date &lt;= #{endDate}
                </when>
                <!-- 如未指定日期则默认查找当天成衣厂账单信息 CURDATE函数的作用是获取当天日期 格式为yyyy-MM-dd -->
                <otherwise>
                    and fb.created_date = CURDATE()
                </otherwise>
            </choose>
        </where>
        <!-- 按日期、成衣厂名称、床号排序 -->
        order by fb.created_date asc, ft.factory_name collate utf8mb4_zh_0900_as_cs asc, fb.number asc
    </select>

    <!-- 获取指定工厂的账单 -->
    <select id="calculateBillByFactoryIdAndDate" resultType="factoryBillDto">
        select
        fb.factory_id,
        factory.factory_name,
        sum(fb.quantity) as quantity,
        sum(fb.bill) as bill

        from factory_bill fb
        left join factory on fb.factory_id = factory.id

        <where>
            fb.factory_id = #{factoryId}
            and fb.flag = #{flag}
            and factory.flag = #{flag}

            <choose>
                <!-- 判断员工是否指定了时间范围 -->
                <when test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                    and fb.created_date between #{startDate} and #{endDate}
                </when>
                <!-- 判断员工是否指定了从之前的某天开始统计至当天的 -->
                <when test="startDate != null and startDate != '' and (endDate == null or endDate == '')">
                    and fb.created_date between #{startDate} and CURDATE()
                </when>
                <!-- 判断员工是否指定了结束日期 -->
                <when test="endDate != null and endDate != '' and (startDate == null or startDate == '')">
                    and fb.created_date &lt;= #{endDate}
                </when>
                <!-- 默认查询当月1号至当天的薪资 -->
                <otherwise>
                    and fb.created_date between DATE_FORMAT(CURDATE(), '%Y-%m-01') and CURDATE()
                </otherwise>
            </choose>
        </where>

        <!-- 按工厂ID和工厂名称分组 -->
        group by fb.factory_id, factory.factory_name
    </select>


    <!-- 导出指定工厂的账单 -->
    <select id="selectExportFactoryBillExcelByCondition" resultType="factoryBillDto">
        select
        fb.factory_id,
        factory.factory_name as factoryName,
        fb.number,
        fb.style_number,
        fjc.id as categoryId,
        fjc.category,
        fb.quantity,
        fq.quotation,
        fb.bill,
        fb.created_date

        from factory_bill fb
        left join factory on fb.factory_id = factory.id
        left join factory_job_category fjc on fb.category_id = fjc.id
        left join factory_quotation fq
        on fb.factory_id = fq.factory_id
        and fb.style_number = fq.style_number
        and fb.category_id = fq.category_id

        <where>
            fb.factory_id = #{factoryId}
            and fb.flag = 0
            and factory.flag = 0

            <choose>
                <!-- 判断员工是否指定了时间范围 -->
                <when test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                    and fb.created_date between #{startDate} and #{endDate}
                </when>
                <!-- 判断员工是否指定了从之前的某天开始统计至当天的 -->
                <when test="startDate != null and startDate != '' and (endDate == null or endDate == '')">
                    and fb.created_date between #{startDate} and CURDATE()
                </when>
                <!-- 判断员工是否指定了结束日期 -->
                <when test="endDate != null and endDate != '' and (startDate == null or startDate == '')">
                    and fb.created_date &lt;= #{endDate}
                </when>
                <!-- 默认查询当月1号至当天的账单 -->
                <otherwise>
                    and fb.created_date between DATE_FORMAT(CURDATE(), '%Y-%m-01') and CURDATE()
                </otherwise>
            </choose>
        </where>
        order by fb.created_date asc
    </select>

</mapper>
