<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.db.mapper.JobMapper">

    <!-- 根据条件查询工作信息列表 -->
    <select id="selectJobListByCondition" resultType="jobDTO">
        select
        job.id,
        job.employee_id,
        emp.name,           <!-- 员工姓名 -->
        job.factory_id,
        fac.factory_name,   <!-- 厂名 -->
        job.number,         <!-- 床号 -->
        job.style_number,   <!-- 井色号 -->
        job.category_id,
        jc.category,        <!-- 工作类型 1小花、2大花、3裤页 -->
        job.quantity,       <!-- 数量 -->
        job.mode_id,
        jm.mode,            <!-- 工作方式 1压花、2刮胶 -->
        job.salary,         <!-- 工资 -->
        job.created_date

        from job
        left join employee emp on job.employee_id = emp.id
        left join factory fac on job.factory_id = fac.id
        left join job_category jc on job.category_id = jc.id
        left join job_mode jm on job.mode_id = jm.id

        <!-- 按员工ID 查找员工未处于删除状态下的工作记录 -->
        <where>
            job.flag = #{flag}
            <!-- 如果员工未选择姓名则默认查全部人的工作信息 -->
            <if test="employeeId != null and employeeId != '' ">
                and job.employee_id = #{employeeId}
            </if>
            <!-- 如果指定了工厂 -->
            <if test="factoryId != null and factoryId != '' ">
                and job.factory_id = #{factoryId}
            </if>
            <!-- 如果指定了床号 -->
            <if test="number != null and number != '' ">
                and job.number like CONCAT('%', #{number}, '%')
            </if>
            <!-- 如果指定了工作类型 -->
            <if test="categoryId != null and categoryId != ''">
                and job.category_id = #{categoryId}
            </if>
            <choose>
                <!-- 如果员工指定了起止日期 则按起止日期查找-->
                <when test="startDate != null and startDate != '' and endDate != null and endDate != '' ">
                    and job.created_date between #{startDate} and #{endDate}
                </when>
                <!-- 如果员工指定了开始日期 则按开始日期查找工作记录 -->
                <when test=" startDate != null and startDate != '' and (endDate == null or endDate == '') ">
                    and job.created_date = #{startDate}
                </when>
                <!-- 如果员工只选了结束日期则默认查询小于等于结束日期的工作记录 -->
                <when test="endDate != null and endDate != '' and (startDate == null or startDate == '') ">
                    and job.created_date &lt;= #{endDate}
                </when>
                <!-- 如员工未指定日期则默认查找当天工作记录 CURDATE函数的作用是获取当天日期 格式为yyyy-MM-dd -->
                <otherwise>
                    and job.created_date = CURDATE()
                </otherwise>
            </choose>
        </where>
        <!-- 按日期和员工名称排序 -->
        order by job.created_date asc, emp.name collate utf8mb4_zh_0900_as_cs asc
    </select>


    <!-- 获取指定员工的工资  -->
    <select id="calculateSalaryByEmployeeIdAndDate" resultType="jobDTO">
        select
        job.employee_id,
        emp.name,                       <!-- 员工姓名 -->
        sum(job.quantity) as quantity,  <!-- 计算数量 -->
        sum(job.salary) as salary       <!-- 工资总额 -->
        from job
        left join employee emp on job.employee_id = emp.id

        <where>
            employee_id = #{employeeId}
            and job.flag = #{flag}
            and emp.flag = #{flag}

            <choose>
                <!-- 判断员工是否指定了时间范围 -->
                <when test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                    and job.created_date between #{startDate} and #{endDate}
                </when>
                <!-- 判断员工是否指定了从之前的某天开始统计至当天的 -->
                <when test="startDate != null and startDate != '' and (endDate == null or endDate == '')">
                    and job.created_date between #{startDate} and CURDATE()
                </when>
                <!-- 判断员工是否指定了结束日期 -->
                <when test="endDate != null and endDate != '' and (startDate == null or startDate == '')">
                    and job.created_date &lt;= #{endDate}
                </when>
                <!-- 默认查询当月1号至当天的薪资 -->
                <otherwise>
                    and job.created_date between DATE_FORMAT(CURDATE(), '%Y-%m-01') and CURDATE()
                </otherwise>
            </choose>
        </where>

        <!-- 按id和姓名分组 -->
        group by job.employee_id, emp.name
    </select>

</mapper>
